{% extends 'GMVideothequeBundle::layout.html.twig' %}

{% block app_main_content %}
    <div class="container">
        <h1 class="h1-app">Liste des films</h1>
        <table id="films" class="table table-dark table-bordered table-hover table-sm table-included-paginator">
            <thead>
                <tr class="bg-info" data-entity="films">
                    <th class="th-sortable" data-sort="categorie"><i class="fas fa-sort-up ui-sort"></i>categorie</th>
                    <th class="th-sortable" data-sort="titre"><i class="fas fa-sort ui-sort"></i>Titre</th>
                    <th class="th-sortable" data-sort="description"><i class="fas fa-sort ui-sort"></i>Description</th>
                    <th class="th-sortable" data-sort="date_sortie"><i class="fas fa-sort ui-sort"></i>Date de sortie</th>
                </tr>
            </thead>
            <tbody id="films_tbody">
            {% for film in films %}
                <tr class="gm-clickable-row" data-href="{{ path('film_show', { 'id': film.id }) }}">
                    <td>{{ film.categorie }}</td>
                    <td>{{ film.titre }}</td>
                    <td>{{ film.description }}</td>
                    <td>{% if film.datesortie %}{{ film.datesortie|date('Y-m-d') }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if paginator is defined %}
            {% include 'paginator/template_paginator_multiple_gm.html.twig' with {'paginator' : paginator["films"] } only %}
        {% endif %}
        <div class="row margin-top-m">
            <div class="col">
                <a class="text-dark link-button-main create-action" href="{{ path('film_new') }}"><i class="fas fa-plus-square"></i> Ajouter une film</a>
            </div>
        </div>
        <div class="row margin-top-s">
            <div class="col">
                <a class="text-dark link-button-main delete-action" href="{{ path('film_delete_all') }}"><i class="fas fa-trash"></i> Supprimer tous</a>
            </div>
        </div>
    </div>


{% endblock %}
