
{% block app_bar_menu %}
<!--<div id="app_bar_menu" class="app-barmenu"></div>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav navigation-menu">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homeapp') }}"><i class="fas fa-home"></i> {{ 'Home'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('question_index') }}">{{ 'Question list'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('question_new') }}">{{ 'Create Answer'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('answer_index') }}">{{ 'Answer list'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('answer_new') }}">{{ 'Create Answer'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_profile_show') }}"><i class="fas fa-user"></i> {{ 'Mon Profile'|trans }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-power-off"></i> {{ 'Déconnexion'|trans }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}"><i class="fas fa-sign-in-alt"></i> {{ 'Connexion'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_registration_register') }}"><i class="fas fa-chalkboard-teacher"></i> {{ 'Inscription'|trans }}</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
