{% if paginator is defined %}
<div class = "margin-bottom-s paginator">
   {% if paginator is defined %}
   <div class="flex-container">
      <div class="paginator-container-prev">
         <a id="paginator_prev_fast" class="text-dark paginator-prev-fast" 
            href="{{path('categorie_index', { 'page': 1, 'count': paginator['count'] }) }}"><i class="fas fa-fast-backward"></i>
         </a>
         <a id="paginator_prev" class="text-dark paginator-prev" 
            href="{{path('categorie_index', { 'page': paginator['previous_page'], 'count': paginator['count'] }) }}"><i class="fas fa-backward"></i>
         </a>
      </div>
      <div class="paginator-container-next">
         <a id="paginator_next" class="text-dark paginator-next" 
            href="{{path('categorie_index', { 'page': paginator['next_page'], 'count': paginator['count'] }) }}"><i class="fas fa-forward"></i>
         </a>
         <a id="paginator_next_fast" class="text-dark paginator-next-fast" 
            href="{{path('categorie_index', { 'page': paginator['total_page'], 'count': paginator['count'] }) }}"><i class="fas fa-fast-forward"></i>
         </a>
      </div>
      <div class="paginator-container-count">
         <span>{{'Max'|trans}} :</span>
         <select name="paginator_container_count" id="paginator_container_count_id">
         <option value="5" {% if paginator['count'] == 5%}selected{% endif %}>5</option>
         <option value="10" {% if paginator['count'] == 10%}selected{% endif %}>10</option>
         <option value="25" {% if paginator['count'] == 25%}selected{% endif %}>25</option>
         <option value="50" {% if paginator['count'] == 50%}selected{% endif %}>50</option>
         <option value="100" {% if paginator['count'] == 100%}selected{% endif %}>100</option>
         <option value="200" {% if paginator['count'] == 200%}selected{% endif %}>200</option>
         </select>
      </div>
      <div class="paginator-container-page">
         Page <input type="text" name="paginator_container_page_id" id="paginator_container_page_id" placeholder="Entrer le numéro de la page" value = {{paginator['current_page']}}>
      </div>
      <div class="paginator-container-page-total">
         {% if paginator['current_page'] <= paginator['total_page'] %}
         <span id="paginator-container-page-total-text">de {{paginator['total_page']}}</span>
         {% endif %}
      </div>
      <div class="paginator-container-next_record_to_read">
         {% if paginator['next_record_to_read'] != null %}
         <span id="paginator-container-next_record_to_read-text">{{'Reste à lire'|trans}} : {{paginator['next_record_to_read']}}</span>
         {% else %}
         <span id="paginator-container-next_record_to_read-text">{{'Reste à lire : zéro'|trans}}</span>
         {% endif %}
      </div>
      <div class="paginator-container-total-entities">
         <span id="paginator-container-total-entities-text">{{'Total global'|trans}} : {{paginator['total_entities']}}</span>
      </div>
   </div>
   {% endif %}
</div>
{% endif %}