{% extends 'GMVideothequeBundle::layout.html.twig' %}

{% block app_main_content %}
    <div class="container">
        <h1 class="h1-app">Categorie des films</h1>


            {% set paginator_entity_name = 'Catégories'|trans %}
            <div class = "margin-top-s margin-bottom-s paginator">
                {% if paginator is defined %}
                <div class="flex-container">
                    <div class="paginator-container-total_entities">
                            <span>{{'Total des'|trans}} : {{paginator_entity_name}} {{paginator['total_entities']}}</span>
                    </div>
                    <div class="paginator-container-prev">
                        <a class="text-dark paginator-prev" 
                            href="{{path('categorie_index', { 'page': paginator['previous_page'], 'count': paginator['count'] }) }}"><i class="fas fa-backward"></i> {{'Reculer'|trans}}
                        </a>
                    </div>
                    <div class="paginator-container-next">
                        <a class="text-dark paginator-next" 
                            href="{{path('categorie_index', { 'page': paginator['next_page'], 'count': paginator['count'] }) }}">{{'Avancer'|trans}}  <i class="fas fa-forward"></i>
                        </a>
                    </div>
                    <div class="paginator-container-page">
                        <input type="text" placeholder="Entrer le numéro de la page" value = {{paginator['current_page']}}>
                    </div>
                    <div class="paginator-container-page-total">
                        {% if paginator['current_page'] <= paginator['total_page'] %}
                            <span>sur {{paginator['total_page']}} page{{ (paginator['total_entities']) > 0 ? 's' : ''}}</span>
                        {% else %}
                            <span>sur # page{{ (paginator['total_entities']) > 0 ? 's' : ''}}</span>
                        {% endif %}
                    </div>
                    <div class="paginator-container-next_record_to_read">
                        {% if paginator['next_record_to_read'] != null %}
                            <span>{{'Reste à lire'|trans}} : {{paginator['next_record_to_read']}}</span>
                        {% else %}
                            <span>{{'Reste à lire : zéro'|trans}}</span>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>

        <table class="table table-dark table-bordered table-hover table-sm">
            <caption>Categorie des films</caption>
            <thead>
                <tr class="bg-info">
                    <th>Id</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}
                <tr class="gm-clickable-row" data-href="{{ path('categorie_show', { 'id': categorie.id }) }}">
                    <td><a href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ categorie.id }}</a></td>
                    <td>{{ categorie.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>






        {{dump(paginator)}}

        <div class="row margin-top-m">
            <div class="col">
                <a class="text-dark link-button-main create-action" href="{{ path('categorie_new') }}"><i class="fas fa-plus-square"></i> Ajouter une categorie</a>
            </div>
        </div>
        {% if paginator is defined and paginator['total_entities'] > 0 %}
            {% if paginator['current_page'] != null %}
                <div class="row margin-top-s">
                    <div class="col">
                        <a class="text-dark link-button-main delete-action" href="{{ path('categorie_delete_all') }}"><i class="fas fa-trash"></i> Supprimer tous</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if pagination is defined %}
        <div class="text-center">
            <ul class="pagination">
                {% if pagination.page > 1 %}
                    <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': 1})) }}"><<</a></li>
                    <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': pagination.page-1})) }}"><</a></li>
                {% endif %}
                {% for p in range(max(pagination.page-4, 1),
                min(pagination.page+4, pagination.pages_count)) %}
                    <li {% if p == pagination.page %} class="active"{% endif %}><a href="{{ path(pagination.route,
                            pagination.route_params|merge({'page': p})) }}">{{ p }}</a></li>
                {% endfor %}
                {% if pagination.page<pagination.pages_count %}
                    <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': pagination.page+1})) }}">></a></li>
                    <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': pagination.pages_count})) }}">>></a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}

    </div>
{% endblock %}