{% extends 'GMVideothequeBundle::layout.html.twig' %}

{% block app_main_content %}
    <div class="container">
        <h1 class="h1-app">Categorie des films</h1>
        <table class="table table-dark table-bordered table-hover table-sm">
            <caption>Categorie des films</caption>
            <thead>
                <tr class="bg-info">
                    <th>Id</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}
                <tr class="clickable-row" data-href="{{ path('categorie_show', { 'id': categorie.id }) }}">
                    <td><a href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ categorie.id }}</a></td>
                    <td>{{ categorie.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <a class="text-dark link-button-main create-action" href="{{ path('categorie_new') }}"><i class="fas fa-plus-square"></i> Ajouter une categorie</a>
            </div>
        </div>
        <div class="row margin-top-s">
            <div class="col">
                <a class="text-dark link-button-main delete-action" href="{{ path('categorie_delete_all') }}"><i class="fas fa-trash"></i> Supprimer tous</a>
            </div>
        </div>
    </div>
{% endblock %}