{% extends 'GMVideothequeBundle::layout.html.twig' %}

{% block app_main_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h1-app">Catégorie : {{categorie.nom}} </h1>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ categorie.id }}</td>
                        </tr>
                        <tr>
                            <th>Guid</th>
                            <td>{{ categorie.guid }}</td>
                        </tr>
                        <tr>
                            <th>Create_date</th>
                            <td>{% if categorie.createdate %}{{ categorie.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Update_date</th>
                            <td>{% if categorie.updatedate %}{{ categorie.updatedate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ categorie.nom }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="container container-action border-bottom">
        <div class="row">
            <div class="col">
                <a class="text-dark link-no-decoration" href="{{ path('categorie_edit', { 'id': categorie.id }) }}"><i class="fas fa-edit"></i> Edit</a>
            </div>
        </div>

        {% if delete_form is defined %}
        <div class="row">
            <div class="col">
                {{ form_start(delete_form) }}
                    <i class="far fa-trash-alt"></i> <input class="bg-danger text-white border border-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <a class="text-dark link-no-decoration" href="{{ path('categorie_index') }}"><i class="fas fa-arrow-left"></i> Back to the list</a>
            </div>
        </div>
    </div>

    {% if films is defined %}
        <h2 class="h2-app margin-top-m">Film associés à la catégrorie</h2>
        {% if films|length == 0 %}
            <p>Aucun films disponibles dans cette catégrorie.</p>
            <a class="text-dark link-button-main" href="{{ path('film_new') }}"><i class="fas fa-plus-square"></i> Ajouter un films</a>
        {% else %}
            <table class="table table-dark table-bordered table-hover table-sm table-included-paginator">
                    <thead>
                        <tr class="bg-info">
                            <th>Id</th>
                            <th>Catégorie</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Date_sortie</th>
                        </tr>
                    </thead>
                    <tbody id="films_tbody">
                    {% for film in films %}
                        <tr class="gm-clickable-row" data-href="{{ path('film_show', { 'id': film.id }) }}">
                            <td><a href="{{ path('film_show', { 'id': film.id }) }}">{{ film.id }}</a></td>
                            <td>{{ film.categorie }}</td>
                            <td>{{ film.titre }}</td>
                            <td>{{ film.description }}</td>
                            <td>{% if film.datesortie %}{{ film.datesortie|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
            {% if paginator is defined %}
                    {% include 'paginator/template_paginator_multiple_gm.html.twig' with {'paginator' : paginator["films"] } only %}
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}