{% extends 'GMQuestionAnswersBundle::layout_GMQuestionAnswersBundle.html.twig' %}

{% block app_main_content %}
    <div class="container">
        <h1 class="h1-questionanswer">Question edit</h1>
        <div class="safe-margin-action">
            {{ form_start(edit_form) }}
            <div class="row safe-margin-action">
                <div class="col">
                    {{ form_label(edit_form.wording, 'Question', {'label_attr': {'class': 'label-questionanswer-xl'}}) }}
                    {{ form_errors(edit_form.wording)}}
                    {{ form_widget(edit_form.wording, {'attr': {'class': 'input-questionanswer input-questionanswer-border', 'required':'true', 'autocomplete':'off'} }) }}
                </div>
            </div>
            <div class="row margin-top-m">
                <div class="col">
                    <input class="btn btn-outline-info main-default-btn" type="submit" value="Save" />
                </div>
            </div>
            {{ form_end(edit_form) }}
            <div class="row margin-top-xs">
                <div class="col">
                    {{ form_start(delete_form) }}
                        <input class="btn btn-outline-danger main-default-btn" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
                <div class="col">
                    <a class="float-right text-dark back-list-xl" href="{{ path('question_index') }}">Go to the list
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}