{% extends 'GMQuestionAnswersBundle::layout_GMQuestionAnswersBundle.html.twig' %}

{% block app_main_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h1-questionanswer">Question</h1>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ question.id }}</td>
                        </tr>
                        <tr>
                            <th>Wording</th>
                            <td>{{ question.wording }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="container container-action border-bottom">
        <div class="row">
            <div class="col">
                <a class="text-dark link-no-decoration" href="{{ path('question_edit', { 'id': question.id }) }}"><i class="fas fa-edit"></i> Edit</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_start(delete_form) }}
                    <i class="far fa-trash-alt"></i> <input class="bg-danger text-white border border-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="text-dark link-no-decoration" href="{{ path('question_index') }}"><i class="fas fa-arrow-left"></i> Back to the list</a>
            </div>
        </div>
    </div>

    <h2 class="h1-questionanswer margin-top-m">Answers Associated</h2>
    {% if answers|length == 0 %}
        <p>No answers associated</p>
        <a class="text-dark create-action" href="{{ path('answer_new') }}"><i class="fas fa-plus-square"></i> Add answer</a>
    {% else %}
    <table class="table table-dark table-bordered table-hover table-sm">
        <caption>Answers Associated</caption>
        <thead>
            <tr class="bg-info">
                <th>Id</th>
                <th>Wording</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr class="clickable-row" data-href="{{ path('answer_show', { 'id': answer.id }) }}">
                <td><a href="{{ path('answer_show', { 'id': answer.id }) }}">{{ answer.id }}</a></td>
                <td>{{ answer.wording }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
